form {
  width: 100%;
}
form button {
    display: block;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    color: white;
    background-color: green;
    margin: 2rem auto;
  }
  form button:hover {
    opacity: 90%;
  }
form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
    color: green;
  }
form span:not(.visible, .span_class, .block) {
  display: none;
  color: red;
  font-size: 13px;
  font-weight: lighter;
  z-index: 1000 !important;
}
form select {
  width: 100%;
  padding: 0 10px;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-color: rgb(164, 164, 164);
  border-style: solid;
  background-color: rgb(245, 245, 245);
  opacity: 50%;
}
select:hover {
  border-color: rgb(44, 211, 44);
  border-style: solid;
  border-radius: 4px;
}
.address {
    width: 100%;
    margin-top: 10px;
    margin-left: unset;
    margin-right: unset;
    width: 100%;
    color: green;
    border-style: solid;
    border-color: rgb(183, 183, 183);
  }
  .address:hover {
    border-color: rgb(44, 211, 44);
    border-style: solid;
  }
  .address input {
    width: 100%;
  }
.form_container {
  width: 100%;
}

.block {
  display:block !important;
  color:red !important;
  font-size: 13px;
  font-weight:lighter;
}

